.footer {
	margin-top:15px;
	border-top:1px solid #eee;
	padding:15px;
	color:#5e5e5e;
}

.clear {
	clear:both;
}

.docs-input-sizes select,.docs-input-sizes input[type=text] {
	display: block;
	margin-bottom: 9px;
}

/* Code Mirror */

.CodeMirror {
	border: 1px solid #eee;
}
.activeline {
	background: #e8f2ff !important;
}
.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}

/* table */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}

tr:hover.tr-hover  td,
tr:hover.tr-hover  th {
  background-color: #f5f5f5;
}

/* alert */
.controls .alert{
	margin:15px 15px 0 0;
	display:block;	
}