//Define our own and
//override default bootstrap properties

$lime:                  #8CBF26 !default;
$red:                   #e5603b !default;
$redDark:               #d04f4f !default;
$blue:                  #618fb0 !default;
$green:                 #56bc76 !default;
$orange:                #eac85e !default;
$pink:                  #E671B8 !default;
$purple:                #A700AE !default;
$brown:                 #A05000 !default;
$teal:                  #4ab0ce !default;
$gray:                  #666 !default;
$grayDark:              #555 !default;
$backgroundGray:        #333 !default;
$lightGray:             #f8f8f8 !default;
$shadowGray:            rgba(#676767, .4) !default;
$linkRed:               #da3712 !default;
$white:                 #ffffff !default;
$lightBlue:             #eff5ef !default;
$lightBrown:            #f5f2ee !default;
$lightRed:              #f8f3f0 !default;
$lightGreen:            #efffee !default;
$lightOrange:           #fff8e4 !default;

//$colors: $lime, $red, $redDark, $blue, $green, $orange, $brown, $teal;
$colors: $red, $orange, $lime, $green, $teal, $blue, $brown, $redDark;
//$color_names: lime, red, dark-red, blue, green, orange, brown, teal;
$color_names: red, orange, lime, green, teal, blue, brown, dark-red;

$light_colors: $lightBlue,$lightBrown, $lightGray;
$light_color_names: blue, brown, gray;

$baseFontSize:          13px !default;

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeLarger:        $baseFontSize + 1;
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px
$fontSizeIndex:         $baseFontSize * 0.7;

$widget-shadow: 0 -1px 1px $shadowGray, 0 1px 1px $shadowGray;
$widget-border-radius: 1px;
$button-border-radius: 1px;
$box-margin-bottom: 30px;
$wrapMargin: 185px;
$sidebarTopMargin: 80px;
$widget-padding: 10px 12px;


$textColor: $lightGray !default;
$linkColor: saturate(lighten($blue, 25%), 50%);
$boldTextColor: lighten($textColor, 3%);
$textLightGray: darken($textColor, 13%) !default;
$placeholderColor: #bbb;
$smallsColor: lighten($textColor, 16%);
$dropzoneColor: #eee;
$popoverBackground: rgba($backgroundGray, .85);
$popoverArrowColor: $popoverBackground;
$transparentTextColor: rgba($backgroundGray, .5);
$backgroundAddition: rgba($backgroundGray, .25);
$sidebarActiveColor: $backgroundAddition;
$transparentBackground: rgba($backgroundGray, .4);
$inputBackgroundColor: #fff;
$paginationBackground: transparent;
$paginationBorder: transparent;
$paginationActiveBackground: $backgroundAddition;

$sansFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$btnBorder: #bbb !default;
$inputBorder: #888;

//bootstrap override
//responsive
$navbarCollapseWidth: 767px !default;

//buttons

$baseBorderRadius:      $widget-border-radius !default;
$borderRadiusLarge:     $widget-border-radius !default;
$borderRadiusSmall:     0px !default;
// Buttons
// -------------------------
$btnBackground:                     $gray !default;
$btnBackgroundHighlight:            $gray !default;

$btnPrimaryBackground:              $blue !default;
$btnPrimaryBackgroundHighlight:     $blue !default;

$btnInfoBackground:                 $teal !default;
$btnInfoBackgroundHighlight:        $teal !default;

$btnSuccessBackground:              $green !default;
$btnSuccessBackgroundHighlight:     $green !default;

$btnWarningBackground:              $orange !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      $red !default;

$btnInverseBackground:              darken($lightGray, 2%) !default;
$btnInverseBackgroundHighlight:     darken($lightGray, 2%) !default;

// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

$dropdownLinkColor:             $gray !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $dropdownLinkColor !default;

$dropdownLinkBackgroundActive:  $blue !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;

// Form states and alerts
// -------------------------
$warningText:             $orange !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               $red !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             $green !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                $blue !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;

// Component sizing

$paddingLarge:          8px 18px !default; // 44px

// Sprite icons path
// -------------------------
$iconSpritePath:          "../img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png" !default;

@mixin bold-font{
  font-weight: bold;
  color: $boldTextColor;
}

@mixin invalid-border {
  border-color: $orange;
  @include box-shadow(inset 0 1px 1px rgba($red,.075));
}

@mixin sidebar-icons($class){
  .sidebar#{$class}{
    width: auto;
    margin: $sidebarTopMargin 0 0 1.6%;

    h2{
      display: none;
    }

    .accordion-body li a{
      width: 1px;
      padding-left: 10px;
      @include transition(width .3s);
    }

    .accordion-body.in li a{
      width: 80px;
    }
  }

  .side-nav#{$class} li{
    a{
      padding: 8px 16px;
      text-align: center;

      i[class*=icon]{
        margin-right: 0;
        float: none;
      }
    }

    .name{
      display: none;
    }
  }

  .sidebar-on-right .side-nav#{$class} > li.active > a,
  .side-nav#{$class} > li.active > a{
    border-left: none;
    border-right: none;
    padding-left: 16px;
  }

  .wrap#{$class}{
    margin-left: 62px;
  }

  .sidebar-hidden{
    .sidebar{
      display: none;
    }

    .wrap{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo#{$class}{
    left: 1.6%;
    padding-left: 5px;
    width: 40px;
    top: 15px;
  }
}

@mixin sidebar-settings{
  .settings{
    .btn-small{
      padding: 2px 8px;
    }
  }
}